<div [style]="addstyle">
<div class="form-group" >
    Code <input type="text" class="form-control" [(ngModel)]="s.id" >
</div>
<div class="form-group">
  Company   <input type="text" class="form-control" [(ngModel)]="s.name"    >
</div>
<div class="form-group">
    IP Rate <input type="text" class="form-control" [(ngModel)]="s.ipvalue">
</div>
<div class="form-group">
    Facevalue <input type="text" class="form-control" [(ngModel)]="s.facevalue">
</div>
<div class="form-group" style="">
        <button class=" btn btn-success"  on-click="addHandler()">Add</button>
        <button class="btn btn-primary">Cancel</button> 
</div>
</div>

<!-- <app-show-stock [stocks]="stocks"></app-show-stock> -->