/* You can add global styles to this file, and also import other style files */
footer{background-color: aqua;height: 10vh; text-align: center;}
.kala{background-color: black;}
.neelu{background-color: blue;}